html {
  font-size: 1px;
}

body {
  font-size: 16rem;
  font-family: "Work Sans", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

li {
  list-style: none;
}

.container {
  max-width: 1170rem;
  margin-inline: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 47rem;
  padding-bottom: 62rem;
}
.header__logo {
  color: #262626;
  font-size: 24rem;
  font-weight: 600;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #8842F0;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24rem;
}
.header__nav-name {
  color: #000;
  font-size: 16rem;
  font-weight: 400;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.header__nav-name:hover {
  -webkit-transform: scale(3);
          transform: scale(3);
  color: #8842F0;
}
.header__home {
  color: #8842F0;
}
.header__field-for-search {
  display: block;
  position: relative;
}
.header__input {
  max-width: 278rem;
  width: 100%;
  border-radius: 50rem;
  background: #000;
  color: #8842F0;
  font-size: 14rem;
  font-weight: 400;
  outline: 0;
  padding: 11rem 39rem 12rem 18rem;
}
.header__input::-webkit-input-placeholder {
  color: #fff;
}
.header__input:-ms-input-placeholder {
  color: #fff;
}
.header__input::-ms-input-placeholder {
  color: #fff;
}
.header__input::placeholder {
  color: #fff;
}
.header__search {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  right: 15rem;
}

.owl-carousel {
  margin-bottom: 111rem;
}

.main__title {
  color: #262626;
  font-size: 48rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 56rem;
}
.main__descript {
  color: #262626;
  text-align: center;
  font-size: 16rem;
  font-weight: 400;
  margin-bottom: 111rem;
  max-width: 837px;
  margin-inline: auto;
}
.main__grid {
  text-align: center;
  margin-bottom: 111rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30rem;
}

.col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc((100% - 30rem * 2) / 3);
          flex: 0 1 calc((100% - 30rem * 2) / 3);
  border-radius: 15rem;
  background: #f9f1fe;
  padding: 46rem 26rem 51rem 26rem;
}

.col > img {
  padding-bottom: 27rem;
}

.grid-name {
  color: #262626;
  font-size: 24rem;
  font-weight: 600;
  padding-bottom: 17rem;
}

.grid-descrip {
  color: #575757;
  text-align: center;
  font-size: 16rem;
  font-weight: 400;
  padding-bottom: 6rem;
}

.col-middle {
  border-radius: 15rem;
  background: #8842F0;
}

.n-middle {
  color: #fff;
}

.d-middle {
  color: white;
}

.a-grid {
  color: #8842F0;
  font-size: 16rem;
  font-weight: 600;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.a-middle {
  color: #fff;
  font-size: 16rem;
  font-weight: 600;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.main-doctor__title {
  text-align: center;
  color: #262626;
  font-size: 48rem;
  font-weight: 700;
  padding-bottom: 56rem;
}
.main-doctor__description {
  max-width: 837rem;
  margin-inline: auto;
  text-align: center;
  color: #262626;
  font-size: 16rem;
  font-weight: 400;
  padding-bottom: 111rem;
}

.doctor-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27rem;
  padding-bottom: 28rem;
}

.doctor {
  border-radius: 20rem;
  background: #f9f1fe;
  text-align: center;
  padding: 44rem 38rem 33rem 39rem;
}
.doctor__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25rem;
}
.doctor__photo {
  max-width: 100%;
  margin-right: 13rem;
}
.doctor__name {
  text-align: start;
}
.doctor__card-title {
  color: #262626;
  font-size: 20rem;
  font-weight: 600;
}
.doctor__card-title-prof {
  color: #262626;
  font-size: 16rem;
  font-weight: 400;
}

.card-text__description {
  color: #575757;
  font-size: 16rem;
  font-weight: 400;
  margin-bottom: 28rem;
  text-align: start;
}
.card-text__btn {
  display: inline-block;
  border-radius: 50rem;
  background-color: #8842F0;
  padding: 10rem 49rem;
  color: #f9f1fe;
  font-size: 20rem;
  font-weight: 600;
}

.block-down {
  margin-bottom: 102rem;
}

.join {
  border-radius: 10rem;
  background-color: #1c1b1f;
  text-align: center;
  padding: 77rem 100rem 83rem 100rem;
  margin-bottom: 130rem;
}
.join__title {
  color: #fff;
  font-size: 36rem;
  font-weight: 700;
  margin-bottom: 47rem;
}

.join-form {
  border-radius: 50rem;
  background: #f9f1fe;
  padding: 10rem 14rem 10rem 31rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
}
.join-form__input {
  border: 0;
  outline: 0;
  width: 100%;
  background: transparent;
  color: #8842F0;
  font-size: 16rem;
  font-weight: 400;
}
.join-form__input::-webkit-input-placeholder {
  color: #6c6c6c;
}
.join-form__input:-ms-input-placeholder {
  color: #6c6c6c;
}
.join-form__input::-ms-input-placeholder {
  color: #6c6c6c;
}
.join-form__input::placeholder {
  color: #6c6c6c;
}
.join-form__btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 22rem;
  background: #8842F0;
  color: #fff;
  font-size: 20rem;
  font-weight: 600;
  padding: 10rem 25rem;
}

.footer {
  background-color: #f9f1fe;
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 108rem;
  padding-top: 106rem;
  padding-bottom: 77rem;
}
.footer__info {
  max-width: 431rem;
}
.footer__title {
  font-size: 24rem;
  font-weight: 600;
  padding-bottom: 26rem;
}
.footer__description {
  font-size: 16rem;
  font-weight: 400;
}
.footer__link-name {
  font-size: 20rem;
  font-weight: 600;
  padding-bottom: 9rem;
}
.footer__link {
  font-size: 16rem;
  font-weight: 400;
}
.footer__hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11rem;
}
.footer__hour-name {
  font-size: 20rem;
  font-weight: 600;
  padding-bottom: 6rem;
}
.footer__day-hour {
  font-size: 16rem;
  font-weight: 400;
}

li > a {
  color: #262626;
}

.links {
  padding-bottom: 33rem;
}
